@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');

#series {
    display : grid;
    grid-column-gap : 40px;
    grid-row-gap : 10px;
    grid-template-columns : repeat(3, 1fr);
    margin-bottom:20px;

}



#series div {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    margin-bottom: 30px;
    font-family: "Bebas Neue";
    font-size: 25px;
    margin: 0 auto;
    width:200px;
}

#series img:hover{
    opacity:0;
}

#form-search{
    margin-bottom: 20px;
}

.example{
    position:relative;
    padding:0;
    display:block;
    cursor:pointer;
    overflow:hidden;
}
.content {
    opacity:0;
    font-size: 40px;
    position:absolute;
    top:0;
    left:0;
    color:#1c87c9;
    background-color:rgba(255,255,255,1);
    width:300px;
    height:300px;
    -webkit-transition: all 400ms ease-out;
    -moz-transition: all 400ms ease-out;
    -o-transition: all 400ms ease-out;
    -ms-transition: all 400ms ease-out;
    transition: all 400ms ease-out;
    text-align:center;
}
.example .content:hover {
    opacity:1;

}
.example .content .text {
    height:0;
    opacity:1;
    transition-delay: 0s;
    transition-duration: 0.4s;
}
.example .content:hover .text {
    opacity:1;

}

.example img:hover{
    opacity:0;
}

