@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Roboto:wght@100;400&display=swap');

body {
    margin-left: 150px;
    overflow-x: hidden
}

p {
    margin-right: 8%;
    font-family: 'Roboto', sans-serif;
}

.detailetimage {
    display: flex;
    margin-top: 100px;
    font-family: 'Roboto', sans-serif;
}

.detailetimage img {
    width: 300px;
    height: 400px;
    font-family: 'Roboto', sans-serif;
}

.detail {
    flex-direction: column;
    margin-left: 10px;
    margin-right: 10px;
    align-items: center;
    font-family: 'Roboto', sans-serif;
}

h1 {
    margin: 0;
    font-size: 150px;
    font-family: 'Bebas Neue', cursive;
    text-decoration: underline #F4D69B;
    text-decoration-thickness: 4px;
}

h2 {
    font-size: 50px;
    font-family: 'Bebas Neue', cursive;
}

